# =========================
# Environment
# =========================
**/.env
**/.env.*

# Jangan abaikan contoh env jika ada
!**/.env.example

# =========================
# MySQL Data
# =========================
mysql-data/

# =========================
# Backup
# =========================
backups/

# =========================
# Upload (opsional)
# =========================
# api-presensi/uploads/

# =========================
# Node
# =========================
frontend-vue/node_modules/
frontend-vue/dist/

# =========================
# Go
# =========================
api-presensi/main
api-presensi/*.exe

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db